@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
.logo{
    height: 400px;
    background:white
}
section{
    height: 400px;
    background: url(wall.jpg)fixed; 
    
    
}
.logophoto{
    position:absolute;
    height:310px;
    top:50px;
    left: 40%;

}
.배경2{
    background: url(콜린배경.jpg);
    height: 400px;
}
.배경3{
    background:powderblue;
    height: 700px;
}
body{
    margin: 0;
    height: 2500px;
}
.photo1{
    position:absolute;
    height:310px;
    top:430px;
    right: 20%;
}
.콜린1{
    position:absolute;
    height:400px;
    top:900px;
    right: 30%;}
    

    .콜린2{
        position:absolute;
        height:150px;
        top:850px;
        right: 30%;}
.콜린3{
    position:absolute;
    height:400px;
    top:800px;
    right: 60px;}
h1{
    font-size: 4em;
    width: 510px;
    font-family: 'GmarketSansMedium';
    color:gray;
    margin: 0;
    position: absolute;
    left: 50px;
    top:450px;
    animation: slide 1s ease-out;
}
.콜린텍스트{
    font-size: 4em;
    width: 500px;
    position: absolute;
    top:900px;
    left:50px;
    font-family: 'GmarketSansMedium';
    color: white;
    animation: slide 3s ease-out;
    
}
.mokoko{
    position:absolute;
    height:400px;
    top:1300px;
    left: 50px;
    animation:slide 1s ease-out;

}

@keyframes slide {
    from{
        left:-800px;
        opacity: 0;
    }
    to{
        left:50px;
        opacity: 1;
    }
}
@keyframes back {
    from{left:50px;
        opacity: 1;

    }
    to{
        left:-800px;
        opacity: 0;
    }
}
@keyframes slide2   {
 from{
    left:-800px;
    opacity: 0;
}
to{
    left:50px;
    opacity: 1;
}
}